
<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar') %>

    <div class="container">
        <hr>
        <h1 id="titulo"> Perguntas </h1>
        <a href="/perguntar" class="btn btn-secondary"> Perguntar </a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
        <div class="card">
            <div class="card-body">
                <h3><%= pergunta.titulo %></h3>
            </div>
            <div class="card-footer">
                <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-dark">Responder</button></a>
                <a id="speech-balloon" href="/pergunta/<%= pergunta.id %>">&#x1F4AC;</a>
                <a id="n-respostas" href="/pergunta/<%= pergunta.id %>"><%= perguntas.length %> respostas</a>            
            </div>
        </div>
    </br>
        <% }) %>

    </div>

</body>
<%- include('./partials/footer') %>